# Virtual Environments
.venv
venv

# Environment
.env
env
!.example.env

# Docker
docker/

# Pycharm
.idea

# Pycache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# .NET / C# Build Artifacts
[Bb]in/
[Oo]bj/
*.user
*.userosscache
logs/

# IDE / Editor files
.vs/

# Planning
plan.md

